<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<div>
			<h2>Edit Page</h2> 		
	</div>

	<a href="/admin">Back</a> |
	<a href="/logout">Logout</a><br>
	
	
	<form method="post">
		<table>
			<tr>
				<td>ID: </td>
				<td><input type="text" readonly name="uid" value="<%= user.uid %>"></td>
			</tr>
			<tr>
				<td>Name: </td>
				<td><input type="text" name="name" value="<%= user.name %>"></td>
			</tr>
			<tr>
				<td>Phone: </td>
				<td><input type="text" name="phone" value="<%= user.phone %>"></td>
			</tr>
			<tr>
				<td>Email: </td>
				<td><input type="text" name="email" value="<%= user.email %>"></td>
			</tr>
			<tr>
				<td>Gender: </td>
				<td><input type="text" name="gender" value="<%= user.gender %>"></td>
			</tr>
			<tr>
				<td>Username: </td>
				<td><input type="text" name="username" value="<%= user.username %>"></td>
			</tr>
			<tr>
				<td>Password: </td>
				<td><input type="text" name="password" value="<%= user.password %>"></td>
			</tr>
			<tr>
				<td>Type: </td>
				<td><input type="text" name="utid" value="<%= user.utid %>"></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input type="submit" name="" value="Update"> 
				</td>
			</tr>
		</table>
	</form>


</body>
</html>