<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<div>
			<h2>Edit Page</h2> 		
	</div>

	<a href="/home">Back</a> |
	<a href="/logout">Logout</a><br>
	
	<form method="post">
		<table>
			<tr>
				<td>ID: </td>
				<td><input type="text" readonly name="Eid" value="<%= user.id %>"></td>
			</tr>
			<tr>
				<td>Employee name: </td>
				<td><input type="text" name="Ename" value="<%= user.Ename %>"></td>
			</tr>
			<tr>
				<td>Company name: </td>
				<td><input type="text" name="Cname" value="<%= user.Cname %>"></td>
			</tr>
			<tr>
				<td>Contract name: </td>
				<td><input type="text" name="Ename" value="<%= user.ContactNo %>"></td>
			</tr>
			<tr>
				<td>Username: </td>
				<td><input type="text" name="username" value="<%= user.username %>"></td>
			</tr>
			<tr>
				<td>Password: </td>
				<td><input type="text" name="password" value="<%= user.password %>"></td>
			</tr>
			<tr>
				<td>Type: </td>
				<td><input type="text" name="utid" value="<%= user.Utid %>"></td>
				<tr>
				<td>job: </td>
				<td><input type="text" name="jid" value="user.jid"></td>
			</tr>
			</tr>
			<tr>
				<td></td>
				<td>
					<input type="submit" name="" value="Update"> 
				</td>
			</tr>
		</table>
	</form>


</body>
</html>