<!DOCTYPE html>
<html>
<head>
	<title>User List</title>
</head>
<body>
	<div>
			<h2>User List</h2> 		
	</div>

	<a href="/admin">Back</a>|
	<a href="/logout">Logout</a><br>

	<table border="1">
		<tr>
			<td>ID</td>
			<td>NAME</td>
			<td>Phone</td>
			<td>Email</td>
			<td>Gender</td>
			<td>USERNAME</td>
			<td>PASSWORD</td>
			<td>TYPE</td>
			<td>ACTION</td>
		</tr>
	<% for(var i=0; i < userlist.length; i++){ %>
		<tr>
			<td><%= userlist[i].uid %></td>
			<td><%= userlist[i].name %></td>
			<td><%= userlist[i].phone %></td>
			<td><%= userlist[i].email %></td>
			<td><%= userlist[i].gender%></td>
			<td><%= userlist[i].username %></td>
			<td><%= userlist[i].password %></td>
			<td>Customer</td>
			<td>
				<a href="/admin/edit/<%= userlist[i].uid %>">EDIT</a> | 
				<a href="/admin/delete/<%= userlist[i].uid %>">DELETE</a> 
			</td>
		</tr>
	<%  } %>
	</table>

</body>
</html>